<p id="notice"><%= notice %></p>

<h1>Title: <%= @exp.title %></h1>

<p>
  <strong>Content:</strong>
  <%= @exp.content %>
</p>

<p>
  <strong>Cover url:</strong>
  <%= @exp.cover_url %>
</p>

<p>
  <strong>Background url:</strong>
  <%= @exp.background_url %>
</p>

<p>
  <strong>Swf url:</strong>
  <%= @exp.swf_url %>
</p>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<h2>Comments:</h2>
<%= render @comments %>

<%= will_paginate @comments %>

